# IDE files
.idea/
.vscode/

# Virtual environments
.venv/
venv/
env/

# Data files
data/
*.csv
*.zip

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Test and notebook cache
.ipynb_checkpoints/
.pytest_cache/

# OS files
.DS_Store
